<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body {
            background-color: #f0f0f0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        #reset-container {
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ddd; /* Border color */
            border-radius: 0;
            box-shadow: 0px 0px 10px 0px #000000;
            width: 400px;
        }

        #reset-container input {
            border-radius: 0;
        }

        #reset-button, #confirm-button, #reset-area {
            border-radius: 0;
        }

        #logo {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        #confirm-area {
            display: none;
        }

        #reset-area {
            display: none;
        }

         .error-message {
      color: red;
    }
    </style>
</head>
<body>
    <div id="reset-container">
      <center> <img src="../img/lgb.png" style="width: 30%;" alt="Logo" id="logo">
        <h3 class="text-center mb-4">Reset Password</h3></center> 
<hr>
<div class="alert alert-danger" id="error" role="alert">
    Invalid Email!
  </div>
        <!-- Step 1: Enter Email -->
        <div id="email-area">
            <form id="email-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <button type="button" class="btn btn-primary btn-block rounded-0" id="submit-button">Submit</button>
                <button class="btn btn-primary rounded-0 w-100" type="button" id="loadbtnEmail" disabled>
                    <span class="spinner-border spinner-border-sm "  role="status" aria-hidden="true"></span>
                    Loading...
                  </button>
            </form>
        </div>

        

        <!-- Step 2: Confirm Code -->
        <div id="confirm-area">
            <div class="alert alert-primary" role="alert">
                Verification code has been sent!
              </div>
            <form id="confirm-form">
                <div class="form-group">
                    <label for="confirmation-code">Confirmation Code</label>
                    <input type="text" class="form-control" id="confirmation-code" required>
                </div>
                <button type="button" class="btn btn-success btn-block rounded-0" id="confirm-button">Verify</button>
                <button class="btn btn-success rounded-0 w-100" type="button" id="loadbtnCode" disabled>
                    <span class="spinner-border spinner-border-sm "  role="status" aria-hidden="true"></span>
                    Verifying...
                  </button>
            </form>
        </div>

        <!-- Step 3: Reset Password Area -->
        <div id="reset-area">
            <form id="reset-password-form">
                <div class="form-group">
                  <label for="current-password">Current Password</label>
                  <input type="password" class="form-control" id="current-password" required>
                </div>
                <div class="form-group">
                  <label for="new-password">New Password</label>
                  <input type="password" class="form-control" id="new-password" required>
                  <div class="error-message" id="new-password-error"></div>
                </div>
                <div class="form-group">
                  <label for="re-password">Re-enter Password</label>
                  <input type="password" class="form-control" id="re-password" required>
                  <div class="error-message" id="re-password-error"></div>
                </div>
                <button type="button" class="btn btn-primary btn-block rounded-0" id="reset-button">Reset Password</button>
              </form>
        </div>


        <div id="success">
            <div id="success">
                <h3 style="color: green;"><i class="fas fa-check-circle" style="color: green;"></i> Successfully updated</h3>
            </div>
        </div>

    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Add your jQuery code here
        $(document).ready(function() {
            $("#error").hide();
            $("#loadbtnCode").hide();
            $("#success").hide();
         
            $("#email-area").show();
            $("#loadbtnEmail").hide();
            $("#submit-button").click(function() {
               
                $("#loadbtnEmail").show();
                $("#submit-button").hide();
                // Validate email
                var email = $("#email").val();
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                if (!emailRegex.test(email)) {
                   
                    $("#error").show();
                    $("#email").css("border-color", "red");
                    $("#loadbtnEmail").hide();
                $("#submit-button").show();
                } else {
                    
                    $("#error").hide();
                    $("#email").css("border-color", ""); 
                    
                      
                      $.ajax({
                        type: "POST",
                        url: "http://localhost/SolutionExplore/repository/loginRepository.php", 
                        data: { email: email,
                        type:'codeSend' },
                        success: function(data) {
                          
                            $("#loadbtnEmail").hide();
                                 $("#submit-button").show();
                          
                                $("#email-area").hide();
                            $("#email").val("");
                            $("#confirm-area").show();
                           
                           
                        },
                        error: function(error) {
                           
                            console.log("Error sending email: " + error);
                        }
                    });




                  
                }

               
            });

         
            //verification code

            $("#confirm-button").click(function() {
                $("#loadbtnCode").show();
                $("#confirm-button").hide();
                    var code = $("#confirmation-code").val();
                $.ajax({
                        type: "POST",
                        url: "http://localhost/SolutionExplore/repository/loginRepository.php", 
                        data: { code: code,
                        type:'StuVerify' },
                        success: function(data) {
                        
                            
                            $("#loadbtnCode").hide();
                $("#confirm-button").show();
                            if(data == 0){
                                $("#confirm-area").hide();
                                $("#confirmation-code").css("border-color", "");
                                $("#confirmation-code").val("");
                                $("#reset-area").slideDown(1000);
                               
                            }else{
                                alert("Invalid verification code!");
                                $("#confirmation-code").css("border-color", "red");
                            }
                          
                                
                            
                           
                           
                        },
                        error: function(error) {
                           
                            console.log("Error sending email: " + error);
                        }
                    });
            });

            //reset password
           
            $("#reset-button").click(function() {
      // Reset error messages and border colors
      $(".error-message").text("");
      $("input").css("border-color", "");

      // Get input values
      var currentPassword = $("#current-password").val();
      var newPassword = $("#new-password").val();
      var rePassword = $("#re-password").val();

      // Validate fields
      if (currentPassword === "") {
        $("#current-password").css("border-color", "red");
        $("#current-password").focus();
        return;
      }

      if (newPassword === "") {
        $("#new-password").css("border-color", "red");
        $("#new-password-error").text("Please enter your new password");
        $("#new-password").focus();
        return;
      }

      if (rePassword === "") {
        $("#re-password").css("border-color", "red");
        $("#re-password-error").text("Passwords do not match");
        $("#re-password").focus();
        return;
      }

      if (newPassword !== rePassword) {
        $("#new-password").css("border-color", "red");
        $("#re-password").css("border-color", "red");
        $("#re-password-error").text("Passwords do not match");
        $("#re-password").focus();
        return;
      }

      if (newPassword === currentPassword) {
        $("#new-password").css("border-color", "red");
        $("#new-password-error").text("Password should be different from the current password");
        $("#new-password").focus();
        return;
      }

      var passwordPattern = /^(?=.*[0-9])(?=.*[A-Z]).{8,}$/;

      if (!passwordPattern.test(newPassword)) {
        $("#new-password").css("border-color", "red");
        $("#new-password-error").text("Password should include a numeric character, a special character, an uppercase letter and at least 8 characters.");
        $("#new-password").focus();
        return;
      }

      // If all validations pass
      $.ajax({
        type: "POST",
        url: "http://localhost/SolutionExplore/repository/loginRepository.php",
        data: {
          newPassword: newPassword,
          type:'passUpdateStu'
        },
        success: function(data) {

          if(data == 0){
            $("#reset-area").hide();
            $("#success").slideDown(500);
            setTimeout(function() {
            window.location.href = 'http://localhost/SolutionExplore/'; 
        }, 5000);
          }else{
            alert("Something went wrong!");
          }
        },
        error: function(xhr, status, error) {
        
          console.error("error: " + status + " - " + error);
        }
      });
    });

        });
    </script>
</body>
</html>
